# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
VITE_SUPABASE_URL=https://vsgobauozcjjttvjrgtk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzZ29iYXVvemNqanR0dmpyZ3RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyMzUwNDIsImV4cCI6MjA5MjgxMTA0Mn0.TXMMuizGtE4lUOO_e66BKHOb9mqEjS8SEfWddkIEB-c